body{
	font-family: 'Merriweather', serif;
}
h4 {
margin-left: 10px;
}
h1 {
background: rgb(114, 114, 114);
color: white;
margin: auto;
text-align: center;
padding: 5px;
}
h2{
	margin-left: 10px;
}
h3 {
background: rgb(158, 158, 158);
padding: 5px;
color: black;
font-size: 25px;
}

table {
padding: 5px;
font-size: 25px;
margin-left: 15px;
}
li {
font-size: 20px;
}
img {
width: 200px;
height: 200px;
margin-top: 25px;
margin-left: 20px;
}